body {
    background-color: #e9d5da;
}

#title {
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: center;
    font-size: 28px;
    color: #363062;
    font-family: 'Ubuntu', sans-serif;
}

#home-button {
    position: fixed;
    top: 30px;
    right: -260px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#home-button i {
    font-size: 64px; /* Erhöhung der Schriftgröße */
    text-align: center;
    float: right;
}

#home-button:hover {
    color: #827397;
}
